.playerContainer {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;

  .sidebar {
    width: fit-content;
    background-color: white;
    height: 100%;
    position: relative;
    transition: all 0.3s ease-out;

    .tabContainer {
      background-color: white;
      text-align: center;
      margin-top: 20px;
      padding: 10px 0;
    }

    .searchContainer {
      display: flex;
      justify-content: center;
      margin: 15px 0;
    }

    .channelContainer {
      overflow-y: auto;
      height: calc(100vh - 140px);

      .channel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gainsboro;
        font-size: 1.7rem;
        color: #585858;
        //height: 51px !important;

        &:hover {
          cursor: pointer;
          background-color: gainsboro;
        }

        .channelName {
          margin-left: 10px;
        }

        .logo {
          width: 45px;
          margin-right: 10px;
        }
      }
    }
  }

  .player {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;

    .drawerToggle {
      background-color: black;
      padding: 10px 20px;

      svg {
        &:hover {
          cursor: pointer;
        }
      }

      .channelName {
        display: inline-block;
        font-size: 2.5rem;
        margin: 0;
        margin: 0 10px;
        color: rgb(163, 163, 163);
        vertical-align: super;
      }

      .bookmarkIcon {
        margin: 0 10px 0 15px;
      }
    }
  }
}

#hideSidebar {
  transform: translateX(-100%);
}

#widenPlayer {
  margin-left: -370px;
}

#channelSelected {
  background-color: #c1c1c1;
  color: #444444;
}
