<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>IPTV Player</title>
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
